<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.glass.setup">
    <permission android:name="com.google.glass.setup.permission.SHUTDOWN" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.glass.bluetooth.permission.COMPANION"/>
    <uses-permission android:name="com.google.glass.logging.permission.LOGGING_SECRET_ACCESS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.BACKUP"/>
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <uses-permission android:name="com.google.glass.deviceadmin.REMOTE_WIPE"/>
    <uses-permission android:name="com.google.glass.setup.permission.SHUTDOWN"/>
    <uses-permission android:name="com.google.glass.lockrecovery.permission.STORE_RECOVERY_CODE"/>
    <uses-permission android:name="com.google.glass.bluetooth.permission.COMPANION"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="com.google.glass.entity.permission.ENTITY_PROVIDER"/>
    <uses-permission android:name="com.google.glass.logging.permission.USER_EVENT_SERVICE"/>
    <uses-permission android:name="com.google.glass.sync.permission.TIMELINE_PROVIDER"/>
    <uses-permission android:name="com.google.android.glass.permission.ACCESS_PRIVATE_CACHE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <application android:label="@string/glass_setup" android:name="com.google.glass.setup.SetupApplication" android:theme="@style/GlassTheme">
        <activity android:excludeFromRecents="true" android:immersive="true" android:launchMode="singleTask" android:name="com.google.glass.setup.SetupActivity">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.DEVICE_INITIALIZATION_WIZARD"/>
                <action android:name="com.google.glass.setup.ACTION_CONFIGURE_ACCOUNT"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:immersive="true" android:name="com.google.glass.setup.BarcodeScanActivity" android:noHistory="true"/>
        <activity android:launchMode="singleTask" android:name="com.google.glass.setup.PostSetupActivity"/>
        <activity android:launchMode="singleTop" android:name="com.google.glass.setup.UpdateCredentialsActivity">
            <intent-filter>
                <action android:name="com.google.glass.setup.ACTION_RECONFIGURE_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.google.glass.app.ShutdownActivity"/>
        <receiver android:name="com.google.glass.setup.ShutdownRequestReceiver" android:permission="com.google.glass.setup.permission.SHUTDOWN">
            <intent-filter>
                <action android:name="com.google.glass.setup.action.REQUEST_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.glass.setup.AuthErrorReceiver">
            <intent-filter>
                <action android:name="com.google.glass.action.DEVICE_MANAGEMENT_REQUIRED"/>
                <action android:name="com.google.glass.action.RELOGIN_REQUIRED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.glass.setup.AuthErrorService"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>