<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.glass.sync">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.glass.bluetooth.permission.COMPANION"/>
    <uses-permission android:name="com.google.glass.logging.permission.LOGGING_SECRET_ACCESS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="com.google.android.glass.permission.ACCESS_PRIVATE_CACHE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.glass.entity.permission.ENTITY_PROVIDER"/>
    <uses-permission android:name="com.google.glass.logging.permission.USER_EVENT_SERVICE"/>
    <uses-permission android:name="com.google.glass.sync.permission.TIMELINE_PROVIDER"/>
    <permission android:name="com.google.glass.sync.permission.ACCESS_ATTACHMENT_SERVICE" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.google.glass.sync.permission.STYLESHEET_ACCESS" android:protectionLevel="signature"/>
    <permission android:name="com.google.glass.sync.permission.TIMELINE_PROVIDER" android:protectionLevel="signatureOrSystem"/>
    <application android:label="@string/glass_sync" android:name="com.google.glass.sync.SyncApplication" android:persistent="true">
        <service android:exported="true" android:name="com.google.glass.sync.AttachmentService" android:permission="com.google.glass.sync.permission.ACCESS_ATTACHMENT_SERVICE" android:process=":remote"/>
        <service android:name="com.google.glass.sync.TimelineSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/timeline_sync_adapter"/>
        </service>
        <service android:name="com.google.glass.sync.LocationSyncService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/location_sync_adapter"/>
        </service>
        <provider android:authorities="com.google.glass.sync" android:exported="true" android:label="com.google.glass.sync.StylesheetProvider" android:name="com.google.glass.sync.StylesheetProvider" android:permission="com.google.glass.sync.permission.STYLESHEET_ACCESS"/>
        <provider android:authorities="com.google.glass.sync.timeline" android:exported="true" android:label="@string/provider_label_timeline" android:name="com.google.glass.sync.TimelineProvider" android:permission="com.google.glass.sync.permission.TIMELINE_PROVIDER"/>
        <receiver android:name="com.google.glass.sync.nowtown.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.glass.sync.nowtown.NotificationService"/>
        <service android:exported="true" android:name="com.google.glass.sync.nowtown.MenuSelectionService"/>
        <service android:exported="true" android:name="com.google.glass.sync.nowtown.HtmlRenderingService"/>
        <activity android:launchMode="singleTop" android:name="com.google.glass.share.ShareActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.google.glass.timeline" android:pathPrefix="/items/*" android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.google.glass.share.ShareLocationActivity">
            <intent-filter>
                <action android:name="com.google.glass.ACTION_SHARE_LOCATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>