
%
[hotword_accept_event]2accept this
&
[hotword_add_an_event]2add an event
2
[hotword_add_an_event_disambig]2add an event to
0
[hotword_add_an_ingredient]2add an ingredient
(
[hotword_add_a_caption]2add a caption
(
[hotword_add_a_comment]2add a comment
"
[hotword_add_a_note]2
add a note
&
[hotword_add_a_review]2add a review
&
[hotword_add_a_review]2add a review
4
[hotword_add_a_review_disambig]2add a review with
6
[hotword_add_nutritional_info]2add nutritional info
$
[hotword_answer_call]2answer call
,
[hotword_archive_message]2archive message

[hotword_biking]2biking

[hotword_bishop]2bishop
 
[hotword_calculate]2	calculate
.
[hotword_calculate_disambig]2calculate with
*
[hotword_calibrate_this]2calibrate this
(
[hotword_call_me_a_car]2call me a car
6
 [hotword_call_me_a_car_disambig]2call me a car with
.
[hotword_call_this_number]2call this number
.
[hotword_call_this_person]2call this person
2
[hotword_capture_a_panorama]2capture a panorama
@
%[hotword_capture_a_panorama_disambig]2capture a panorama with
,
[hotword_change_location]2change location
*
[hotword_change_mode_to]2change mode to
,
[hotword_change_networks]2change networks
8
[hotword_change_the_difficulty]2change the difficulty
,
[hotword_change_the_name]2change the name
2
[hotword_change_the_pattern]2change the pattern
,
[hotword_change_the_time]2change the time
.
[hotword_change_the_timer]2change the timer
0
[hotword_change_the_volume]2change the volume
8
[hotword_change_the_wake_angle]2change the wake angle
$
[hotword_check_me_in]2check me in
2
[hotword_check_me_in_disambig]2check me in with
2
 [hotword_check_me_in_open_ended]2check me in to
0
[hotword_check_the_battery]2check the battery
>
$[hotword_check_the_battery_disambig]2check the battery with
*
[hotword_check_this_out]2check this out
8
![hotword_check_this_out_disambig]2check this out with
,
[hotword_contact_support]2contact support
:
"[hotword_contact_support_disambig]2contact support with
*
[hotword_control_my_car]2control my car
,
[hotword_control_my_home]2control my home
:
"[hotword_control_my_home_disambig]2control my home with
0
[hotword_create_a_3d_model]2create a 3d model
>
$[hotword_create_a_3d_model_disambig]2create a 3d model with
&
[hotword_decline_call]2decline call
'
[hotword_decline_event]2decline this
$
[hotword_delete_this]2delete this
-
[hotword_dismiss_all]2dismiss all of these
&
[hotword_dismiss_this]2dismiss this

[hotword_driving]2driving
(
[hotword_end_this_call]2end this call
 
[hotword_exit_game]2	exit game
"
[hotword_exit_music]2
exit music
*
[hotword_explore_nearby]2explore nearby
8
![hotword_explore_nearby_disambig]2explore nearby with
0
[hotword_explore_the_stars]2explore the stars
>
$[hotword_explore_the_stars_disambig]2explore the stars with
&
[hotword_extend_video]2extend video
)
[hotword_favorite_this]2favourite this
$
[hotword_find_a_bike]2find a bike
2
[hotword_find_a_bike_disambig]2find a bike with
*
[hotword_find_a_dentist]2find a dentist
8
![hotword_find_a_dentist_disambig]2find a dentist with
(
[hotword_find_a_doctor]2find a doctor
6
 [hotword_find_a_doctor_disambig]2find a doctor with
(
[hotword_find_a_flight]2find a flight
6
 [hotword_find_a_flight_disambig]2find a flight with
$
[hotword_find_a_home]2find a home
2
[hotword_find_a_home_disambig]2find a home with
,
[hotword_find_a_hospital]2find a hospital
:
"[hotword_find_a_hospital_disambig]2find a hospital with
*
[hotword_find_a_passage]2find a passage
8
![hotword_find_a_passage_disambig]2find a passage with
&
[hotword_find_a_place]2find a place
4
[hotword_find_a_place_disambig]2find a place with
5
[hotword_find_a_place_to_stay]2find accommodations
C
'[hotword_find_a_place_to_stay_disambig]2find accommodations with
*
[hotword_find_a_product]2find a product
8
![hotword_find_a_product_disambig]2find a product with
(
[hotword_find_a_recipe]2find a recipe
6
 [hotword_find_a_recipe_disambig]2find a recipe with
7
"[hotword_find_a_recipe_open_ended]2find a recipe for
&
[hotword_find_a_video]2find a video
4
[hotword_find_a_video_disambig]2find a video with
4
![hotword_find_a_video_open_ended]2find a video of
*
[hotword_find_a_website]2find a website
8
![hotword_find_a_website_disambig]2find a website with
&
[hotword_find_parking]2find parking
4
[hotword_find_parking_disambig]2find parking with
&
[hotword_find_reviews]2find reviews
4
[hotword_find_reviews_disambig]2find reviews with
4
![hotword_find_reviews_open_ended]2find reviews of
&
[hotword_find_someone]2find someone
4
[hotword_find_someone_disambig]2find someone with
*
[hotword_find_something]2find something
8
![hotword_find_something_disambig]2find something with
:
 [hotword_find_the_exchange_rate]2find the exchange rate
H
)[hotword_find_the_exchange_rate_disambig]2find the exchange rate with
H
+[hotword_find_the_exchange_rate_open_ended]2find the exchange rate of
*
[hotword_find_the_price]2find the price
8
![hotword_find_the_price_disambig]2find the price with
9
#[hotword_find_the_price_open_ended]2find the price for
$
[hotword_flip_a_coin]2flip a coin
2
[hotword_flip_a_coin_disambig]2flip a coin with
4
[hotword_forget_this_network]2forget this network
*
[hotword_get_directions]2get directions
8
![hotword_get_directions_disambig]2get directions with
8
#[hotword_get_directions_open_ended]2get directions to
4
[hotword_give_me_a_challenge]2give me a challenge
B
&[hotword_give_me_a_challenge_disambig]2give me a challenge with
.
[hotword_give_me_feedback]2give me feedback
<
#[hotword_give_me_feedback_disambig]2give me feedback with

[hotword_google]2google

[hotword_go_back]2go back
"
[hotword_go_forward]2
go forward
&
[hotword_help_me_pray]2help me pray
4
[hotword_help_me_pray_disambig]2help me pray with
(
[hotword_help_me_relax]2help me relax
6
 [hotword_help_me_relax_disambig]2help me relax with
,
[hotword_help_me_sign_in]2help me sign in
:
"[hotword_help_me_sign_in_disambig]2help me sign in with
*
[hotword_help_with_this]2help with this
3
[hotword_hide_route_overview]2hide route preview
4
[hotword_hide_the_viewfinder]2hide the viewfinder
*
[hotword_join_a_network]2join a network
(
[hotword_keep_me_awake]2keep me awake
6
 [hotword_keep_me_awake_disambig]2keep me awake with

[hotword_king]2king

[hotword_knight]2knight
4
[hotword_learn_an_instrument]2learn an instrument
B
&[hotword_learn_an_instrument_disambig]2learn an instrument with
.
[hotword_learn_a_language]2learn a language
<
#[hotword_learn_a_language_disambig]2learn a language with
&
[hotword_learn_a_song]2learn a song
4
[hotword_learn_a_song_disambig]2learn a song with

[hotword_listen_to]2listen
+
[hotword_listen_to_disambig]2listen with
+
[hotword_listen_to_open_ended]2	listen to
2
[hotword_locate_a_satellite]2locate a satellite
@
%[hotword_locate_a_satellite_disambig]2locate a satellite with
"
[hotword_log_a_meal]2
log a meal
0
[hotword_log_a_meal_disambig]2log a meal with
:
 [hotword_look_up_the_definition]2look up the definition
H
)[hotword_look_up_the_definition_disambig]2look up the definition with
H
+[hotword_look_up_the_definition_open_ended]2look up the definition of
&
[hotword_magnify_this]2magnify this
4
[hotword_magnify_this_disambig]2magnify this with
$
[hotword_make_a_call]2make a call
2
[hotword_make_a_call_disambig]2make a call with
2
 [hotword_make_a_call_open_ended]2make a call to
*
[hotword_make_a_request]2make a request
8
![hotword_make_a_request_disambig]2make a request with
2
[hotword_make_a_reservation]2make a reservation
@
%[hotword_make_a_reservation_disambig]2make a reservation with
@
'[hotword_make_a_reservation_open_ended]2make a reservation at
0
[hotword_make_a_video_call]2make a video call
>
$[hotword_make_a_video_call_disambig]2make a video call with
>
&[hotword_make_a_video_call_open_ended]2make a video call to
,
[hotword_make_a_vignette]2make a vignette
(
[hotword_manage_places]2manage places
$
[hotword_minify_this]2minify this
2
[hotword_minify_this_disambig]2minify this with
2
[hotword_mute_my_microphone]2mute my microphone
"
[hotword_next_track]2
next track
0
[hotword_open_this_website]2open this website
$
[hotword_pause_music]2pause music
,
[hotword_pause_recording]2pause recording
,
[hotword_pause_the_timer]2pause the timer
$
[hotword_pause_video]2pause video

[hotword_pawn]2pawn
$
[hotword_pick_a_card]2pick a card
2
[hotword_pick_a_card_disambig]2pick a card with
$
[hotword_play_a_game]2play a game
0
[hotword_play_a_game_disambig]2play a game of
"
[hotword_play_music]2
play music
,
[hotword_play_this_level]2play this level
"
[hotword_play_video]2
play video
#
[hotword_plus_one]2plus one this
*
[hotword_post_an_update]2post an update
6
![hotword_post_an_update_disambig]2post an update to
,
[hotword_post_a_question]2post a question
:
"[hotword_post_a_question_disambig]2post a question with

[hotword_post_to]2post to
*
[hotword_previous_track]2previous track

[hotword_queen]2queen
"
[hotword_read_aloud]2
read aloud
*
[hotword_recognize_this]2recognise this
8
![hotword_recognize_this_disambig]2recognise this with
3
[hotword_recognize_this_song]2identify this song
A
&[hotword_recognize_this_song_disambig]2identify this song with
,
[hotword_record_a_recipe]2record a recipe
:
"[hotword_record_a_recipe_disambig]2record a recipe with
:
$[hotword_record_a_recipe_open_ended]2record a recipe of
2
[hotword_record_a_timelapse]2record a timelapse
@
%[hotword_record_a_timelapse_disambig]2record a timelapse with
*
[hotword_record_a_video]2record a video
8
![hotword_record_a_video_disambig]2record a video with
,
[hotword_record_my_score]2record my score
(
[hotword_remember_this]2remember this
6
 [hotword_remember_this_disambig]2remember this with
4
[hotword_remember_where_i_am]2remember where i am
B
&[hotword_remember_where_i_am_disambig]2remember where i am with
 
[hotword_remind_me]2	remind me
.
[hotword_remind_me_disambig]2remind me with

[hotword_reply]2send a reply
&
[hotword_reply_to_all]2reply to all
,
[hotword_reply_to_sender]2reply to sender
,
[hotword_reset_the_timer]2reset the timer
4
[hotword_resume_my_bike_ride]2resume my bike ride
(
[hotword_resume_my_run]2resume my run
.
[hotword_resume_the_timer]2resume the timer

[hotword_retry]2	try again
$
[hotword_return_this]2return this
(
[hotword_roll_the_dice]2roll the dice
6
 [hotword_roll_the_dice_disambig]2roll the dice with

[hotword_rook]2rook
0
[hotword_run_an_experiment]2run an experiment
>
$[hotword_run_an_experiment_disambig]2run an experiment with
 
[hotword_save_this]2	save this
*
[hotword_scan_a_product]2scan a product
8
![hotword_scan_a_product_disambig]2scan a product with

[hotword_see_more]2see more
,
[hotword_select_this_link]2open this link
*
[hotword_send_a_message]2send a message
8
#[hotword_send_a_message_open_ended]2send a message to
"
[hotword_send_money]2
send money
0
[hotword_send_money_disambig]2send money with
0
[hotword_send_money_open_ended]2send money to
&
[hotword_send_this_to]2send this to
(
[hotword_set_the_timer]2set the timer
0
[hotword_share_my_location]2share my location
>
$[hotword_share_my_location_disambig]2share my location with
,
[hotword_share_this_with]2share this with
*
[hotword_show_a_compass]2show a compass
8
![hotword_show_a_compass_disambig]2show a compass with
(
[hotword_show_comments]2show comments
,
[hotword_show_directions]2show directions
&
[hotword_show_hazards]2show hazards
.
[hotword_show_ingredients]2show ingredients
0
[hotword_show_instructions]2show instructions
$
[hotword_show_levels]2show levels
0
[hotword_show_measurements]2show measurements
>
$[hotword_show_measurements_disambig]2show measurements with
0
[hotword_show_me_analytics]2show me analytics
>
$[hotword_show_me_analytics_disambig]2show me analytics from
*
[hotword_show_me_a_demo]2show me a demo
8
![hotword_show_me_a_demo_disambig]2show me a demo with
,
[hotword_show_me_a_place]2show me a place
:
"[hotword_show_me_a_place_disambig]2show me a place with
2
[hotword_show_me_my_account]2show me my account
@
%[hotword_show_me_my_account_disambig]2show me my account from
.
[hotword_show_me_my_speed]2show me my speed
<
#[hotword_show_me_my_speed_disambig]2show me my speed with
.
[hotword_show_me_the_news]2show me the news
<
#[hotword_show_me_the_news_disambig]2show me the news from
4
[hotword_show_me_the_weather]2show me the weather
B
&[hotword_show_me_the_weather_disambig]2show me the weather from
A
[hotword_show_me_transit_times]2show me public transport times
O
([hotword_show_me_transit_times_disambig]2#show me public transport times with
 
[hotword_show_more]2	show more
0
[hotword_show_my_glassware]2show my glassware
.
[hotword_show_my_pictures]2show my pictures
<
#[hotword_show_my_pictures_disambig]2show my pictures with
*
[hotword_show_my_videos]2show my videos
8
![hotword_show_my_videos_disambig]2show my videos with
8
[hotword_show_nutritional_info]2show nutritional info
&
[hotword_show_options]2show options
,
[hotword_show_recipients]2show recipients
&
[hotword_show_results]2show results
3
[hotword_show_route_overview]2show route preview
.
[hotword_show_song_lyrics]2show song lyrics
<
#[hotword_show_song_lyrics_disambig]2show song lyrics from
4
[hotword_show_the_disclaimer]2show the disclaimer
0
[hotword_show_the_forecast]2show the forecast
*
[hotword_show_the_score]2show the score
,
[hotword_show_the_source]2show the source
4
[hotword_show_the_viewfinder]2show the viewfinder
B
&[hotword_show_the_viewfinder_disambig]2show the viewfinder with
(
[hotword_snooze_alerts]2snooze alerts
0
[hotword_start_a_bike_ride]2start a bike ride
>
$[hotword_start_a_bike_ride_disambig]2start a bike ride with
*
[hotword_start_a_flight]2start a flight
8
![hotword_start_a_flight_disambig]2start a flight with
.
[hotword_start_a_new_game]2start a new game
&
[hotword_start_a_race]2start a race
4
[hotword_start_a_race_disambig]2start a race with
8
[hotword_start_a_radio_station]2start a radio station
8
[hotword_start_a_round_of_golf]2start a round of golf
F
([hotword_start_a_round_of_golf_disambig]2start a round of golf with
$
[hotword_start_a_run]2start a run
2
[hotword_start_a_run_disambig]2start a run with
0
[hotword_start_a_stopwatch]2start a stopwatch
>
$[hotword_start_a_stopwatch_disambig]2start a stopwatch with
(
[hotword_start_a_timer]2start a timer
6
 [hotword_start_a_timer_disambig]2start a timer with
&
[hotword_start_a_tour]2start a tour
4
[hotword_start_a_tour_disambig]2start a tour with
,
[hotword_start_a_workout]2start a workout
:
"[hotword_start_a_workout_disambig]2start a workout with
2
[hotword_start_broadcasting]2start broadcasting
@
%[hotword_start_broadcasting_disambig]2start broadcasting with
*
[hotword_start_coaching]2start coaching
8
![hotword_start_coaching_disambig]2start coaching with
(
[hotword_start_imaging]2start imaging
6
 [hotword_start_imaging_disambig]2start imaging with
.
[hotword_start_presenting]2start presenting
<
#[hotword_start_presenting_disambig]2start presenting with
,
[hotword_start_the_timer]2start the timer
&
[hotword_star_message]2star message
,
[hotword_stop_directions]2stop directions
"
[hotword_stop_music]2
stop music
0
[hotword_stop_my_bike_ride]2stop my bike ride
$
[hotword_stop_my_run]2stop my run
*
[hotword_stop_recording]2stop recording
*
[hotword_stop_the_timer]2stop the timer
 
[hotword_stop_this]2	stop this
$
[hotword_take_a_note]2take a note
2
[hotword_take_a_note_disambig]2take a note with
(
[hotword_take_a_picture]2take a photo
6
![hotword_take_a_picture_disambig]2take a photo with
*
[hotword_teach_me_about]2teach me about
8
![hotword_teach_me_about_disambig]2teach me about with
&
[hotword_tell_a_story]2tell a story
4
[hotword_tell_a_story_disambig]2tell a story with
7
![hotword_tell_a_story_open_ended]2tell a story about
2
[hotword_track_this_package]2track this package

[hotword_transit]2	transport
*
[hotword_translate_this]2translate this
8
![hotword_translate_this_disambig]2translate this with
&
[hotword_try_this_out]2try this out
2
[hotword_tune_an_instrument]2tune an instrument
@
%[hotword_tune_an_instrument_disambig]2tune an instrument with
7
![hotword_turn_off_the_flashlight]2turn off the torch
5
 [hotword_turn_the_flashlight_on]2turn on the torch
C
)[hotword_turn_the_flashlight_on_disambig]2turn on the torch with
2
[hotword_turn_the_sound_off]2turn the sound off
0
[hotword_turn_the_sound_on]2turn the sound on
(
[hotword_turn_this_off]2turn this off
&
[hotword_turn_this_on]2turn this on

[hotword_undo]2undo
4
[hotword_undo_my_last_action]2undo my last action
*
[hotword_unstar_message]2unstar message
&
[hotword_use_a_filter]2use a filter
4
[hotword_use_a_filter_disambig]2use a filter with
(
[hotword_view_licenses]2view licences
&
[hotword_view_website]2view website

[hotword_walking]2walking
*
[hotword_watch_my_swing]2watch my swing
8
![hotword_watch_my_swing_disambig]2watch my swing with