
*
[hotword_add_a_caption]2字幕を追加
-
[hotword_add_a_comment]2コメント追加
'
[hotword_add_a_note]2メモを追加
5
[hotword_add_a_review]2クチコミを追加して
/
[hotword_add_an_event]2予定を追加して
.
[hotword_add_an_ingredient]2材料を追加
7
[hotword_add_nutritional_info]2栄養成分を追加
(
[hotword_answer_call]2電話に出る
,
[hotword_archive_message]2アーカイブ

[hotword_biking]2	自転車
#
[hotword_bishop]2ビショップ
#
[hotword_calculate]2計算して
(
[hotword_calibrate_this]2調整する
'
[hotword_call_me_a_car]2車呼んで
0
[hotword_call_this_person]2電話をかける
5
[hotword_capture_a_panorama]2パノラマ撮って
,
[hotword_change_location]2場所を変更
+
[hotword_change_mode_to]2モード変更
5
[hotword_change_networks]2ネットワーク変更
5
[hotword_change_the_difficulty]2難易度を変更
,
[hotword_change_the_name]2名前を変更
5
[hotword_change_the_pattern]2パターンを変更
,
[hotword_change_the_time]2時間を変更
.
[hotword_change_the_volume]2音量を変更
1
[hotword_check_me_in]2チェックインして
1
[hotword_check_the_battery]2電池確認して
.
[hotword_check_this_out]2チェックして
>
[hotword_contact_support]2!サポートに問い合わせて
.
[hotword_control_my_car]2車を操作して
/
[hotword_control_my_home]2家を操作して
7
[hotword_create_a_3d_model]23d モデルを作って
&
[hotword_decline_call]2拒否する
%
[hotword_delete_this]2削除する
1
[hotword_dismiss_all_of_these]2すべて消去
&
[hotword_dismiss_this]2消去する

[hotword_driving]2車
*
[hotword_end_this_call]2電話を切る
)
[hotword_exit_game]2ゲームを終了
$
[hotword_exit_music]2終了する
:
[hotword_explore_nearby]2周辺のスポット探して
.
[hotword_explore_the_stars]2星を見せて
/
[hotword_extend_video]2撮影時間を延長
3
[hotword_favorite_this]2お気に入りに追加
+
[hotword_find_a_bike]2自転車探して
.
[hotword_find_a_dentist]2歯医者探して
-
[hotword_find_a_doctor]2医者を探して
9
[hotword_find_a_flight]2フライト情報を見せて
(
[hotword_find_a_home]2家を探して
,
[hotword_find_a_hospital]2病院探して
1
[hotword_find_a_passage]2文章を検索して
,
[hotword_find_a_place]2場所を探して
.
[hotword_find_a_product]2商品を探して
0
[hotword_find_a_recipe]2レシピを探して
,
[hotword_find_a_video]2ビデオ探して
:
[hotword_find_a_website]2ウェブサイトを見せて
3
[hotword_find_accommodations]2宿泊先探して
,
[hotword_find_parking]2駐車場探して
2
[hotword_find_reviews]2クチコミを見せて
)
[hotword_find_someone]2人を探して
+
[hotword_find_something]2物を探して
6
 [hotword_find_the_exchange_rate]2為替を見せて
.
[hotword_find_the_price]2価格を調べて
+
[hotword_flip_a_coin]2コイン投げて
9
[hotword_forget_this_network]2ネットワーク切断
1
[hotword_get_directions]2経路を検索して
3
[hotword_give_me_a_challenge]2課題を見せて
9
[hotword_give_me_feedback]2フィードバックして
!
[hotword_go_back]2前に戻る
$
[hotword_go_forward]2次に進む
 
[hotword_google]2検索して
/
[hotword_help_me_pray]2礼拝の準備して
3
[hotword_help_me_relax]2リラックスさせて
2
[hotword_help_me_sign_in]2ログインさせて
.
[hotword_help_with_this]2ヘルプを表示
<
[hotword_hide_route_overview]2ルート全体を隠して
*
[hotword_hide_the_viewfinder]2	閉じる
2
[hotword_identify_this_song]2曲を認識して
4
[hotword_join_a_network]2ネットワーク接続
0
[hotword_keep_me_awake]2居眠り防止して

[hotword_king]2	キング

[hotword_knight]2	ナイト
3
[hotword_learn_a_language]2外国語を教えて
)
[hotword_learn_a_song]2曲を教えて
3
[hotword_learn_an_instrument]2楽器を教えて
 
[hotword_listen]2聞かせて
>
[hotword_locate_a_satellite]2近くの人工衛星見せて
-
[hotword_log_a_meal]2食事を記録して
6
 [hotword_look_up_the_definition]2定義を教えて
&
[hotword_magnify_this]2拡大して
(
[hotword_make_a_call]2電話かけて
1
[hotword_make_a_request]2リクエストして
,
[hotword_make_a_reservation]2予約して
=
[hotword_make_a_video_call]2ビデオチャット始めて
/
[hotword_make_a_vignette]2ビネット追加
%
[hotword_minify_this]2縮小して
8
[hotword_mute_my_microphone]2マイクをミュート
!
[hotword_next_track]2	次の曲
7
[hotword_open_this_website]2ウェブサイト表示
%
[hotword_pause_music]2一時停止

[hotword_pawn]2	ポーン
+
[hotword_pick_a_card]2カード選んで
1
[hotword_play_a_game]2ゲームを開始して
$
[hotword_play_music]2再生する
5
[hotword_play_this_level]2このレベルを開始
2
[hotword_post_a_question]2質問を投稿して
(
[hotword_post_an_update]2投稿して
!
[hotword_post_to]2投稿する
%
[hotword_previous_track]2	前の曲

[hotword_queen]2クイーン
'
[hotword_read_aloud]2読み上げて
(
[hotword_recognize_this]2認識して
5
[hotword_record_a_recipe]2レシピを記録して
8
[hotword_record_a_timelapse]2タイムを記録して
.
[hotword_record_a_video]2ビデオ撮って
/
[hotword_record_my_score]2スコアを記録
$
[hotword_remember_this]2	覚えて
9
[hotword_remember_where_i_am]2現在地を記録して
8
[hotword_remind_me]2!リマインダーを設定して
)
[hotword_reply_to_all]2全員に返信
/
[hotword_reply_to_sender]2送信者に返信
'
[hotword_reply_to_this]2返信する
)
[hotword_reset_the_timer]2リセット
-
[hotword_resume_my_bike_ride]2再開する
%
[hotword_return_this]2返却する
3
[hotword_roll_the_dice]2サイコロを振って

[hotword_rook]2	ルーク
4
[hotword_run_an_experiment]2実験を開始して
#
[hotword_save_this]2保存する
7
[hotword_scan_a_product]2商品をスキャンして
%
[hotword_see_more]2もっと見る
0
[hotword_select_this_link]2リンクを選択
7
[hotword_send_a_message]2メッセージ送信して
$
[hotword_send_money]2送金して
&
[hotword_send_this_to]2送信する
'
[hotword_set_the_timer]2設定する
7
[hotword_share_my_location]2現在地を共有して
)
[hotword_share_this_with]2共有する
1
[hotword_show_a_compass]2コンパス見せて
,
[hotword_show_directions]2経路を表示
/
[hotword_show_hazards]2ハザードを表示
-
[hotword_show_ingredients]2材料を表示
.
[hotword_show_instructions]2手順を表示
+
[hotword_show_levels]2レベルを表示
+
[hotword_show_me_a_demo]2デモ見せて
/
[hotword_show_me_a_place]2場所を見せて
=
[hotword_show_me_analytics]2アナリティクス見せて
>
[hotword_show_me_my_account]2アカウント情報見せて
-
[hotword_show_me_my_speed]2速度見せて
3
[hotword_show_me_the_news]2ニュース見せて
0
[hotword_show_me_the_weather]2天気見せて
8
[hotword_show_me_transit_times]2時刻表を見せて
1
[hotword_show_measurements]2寸法を見せて
-
[hotword_show_my_pictures]2写真見せて
.
[hotword_show_my_videos]2ビデオ見せて
8
[hotword_show_nutritional_info]2栄養成分を表示
2
[hotword_show_options]2オプションを表示
/
[hotword_show_results]2検索結果を表示
9
[hotword_show_route_overview]2ルート全体を表示
-
[hotword_show_song_lyrics]2歌詞見せて
6
[hotword_show_the_disclaimer]2免責事項を表示
4
[hotword_show_the_forecast]2天気予報を見る
.
[hotword_show_the_score]2データを表示
/
[hotword_show_the_source]2ソースを表示
B
[hotword_show_the_viewfinder]2!ファインダーを表示して
0
[hotword_snooze_alerts]2通知をスヌーズ
/
[hotword_star_message]2スターを付ける
=
[hotword_start_a_bike_ride]2サイクリングを始めて
7
[hotword_start_a_flight]2フライトを開始して
-
[hotword_start_a_new_game]2新規ゲーム
2
[hotword_start_a_race]2レースを開始して
G
[hotword_start_a_radio_station]2$ラジオステーションを開始
>
[hotword_start_a_round_of_golf]2ゴルフ情報を見せて
4
[hotword_start_a_run]2ランニングを始めて
C
[hotword_start_a_stopwatch]2$ストップウォッチを始めて
9
[hotword_start_a_timer]2タイマーをセットして
2
[hotword_start_a_tour]2ツアーを開始して
;
[hotword_start_a_workout]2ワークアウトを始めて
D
[hotword_start_broadcasting]2$ストリーミングを開始して
:
[hotword_start_coaching]2コーチングを開始して
-
[hotword_start_imaging]2映像を作って
H
[hotword_start_presenting]2*プレゼンテーションを開始して
)
[hotword_start_the_timer]2開始する
,
[hotword_stop_directions]2ナビを終了
$
[hotword_stop_music]2停止する
#
[hotword_stop_this]2停止して
%
[hotword_take_a_note]2メモして
+
[hotword_take_a_picture]2写真撮って
%
[hotword_teach_me_about]2	教えて
/
[hotword_tell_a_story]2物語を聞かせて
/
[hotword_track_this_package]2荷物を追跡
!
[hotword_transit]2公共交通
(
[hotword_translate_this]2翻訳して
&
[hotword_try_this_out]2起動する
5
[hotword_tune_an_instrument]2楽器を調律して
:
![hotword_turn_off_the_flashlight]2フラッシュ消灯
?
 [hotword_turn_on_the_flashlight]2フラッシュを点けて
,
[hotword_turn_the_sound_off]2ミュート
1
[hotword_turn_the_sound_on]2ミュート解除
'
[hotword_turn_this_off]2offにする
%
[hotword_turn_this_on]2onにする

[hotword_undo]2元に戻す
3
[hotword_undo_my_last_action]2一つ前に戻す
2
[hotword_use_a_filter]2フィルタを使って
3
[hotword_view_licences]2ライセンスを表示

[hotword_walking]2	徒歩で
:
[hotword_watch_my_swing]2スイング情報を見せて