
5
[hotword_add_a_caption]j i m a k u o ts u i k a 
5
[hotword_add_a_comment]k o m e N t o ts u i k a 
.
[hotword_add_a_note]m e m o o ts u i k a 
B
[hotword_add_a_review]&k u ch i k o m i o ts u i k a sh i t e 
:
[hotword_add_an_event]y o t e: o ts u i k a sh i t e 
:
[hotword_add_an_ingredient]z a i r y o: o ts u i k a 
C
[hotword_add_nutritional_info]e: y o: s e: b u N o ts u i k a 
0
[hotword_answer_call]d e N w a n i d e r u 
+
[hotword_archive_message]a: k a i b u 
$
[hotword_biking]j i t e N sh a 
$
[hotword_bishop]b i sh o q p u 
,
[hotword_calculate]k e: s a N sh i t e 
0
[hotword_calibrate_this]ch o: s e: s u r u 
2
[hotword_call_me_a_car]k u r u m a y o N d e 
7
[hotword_call_this_person]d e N w a o k a k e r u 
;
[hotword_capture_a_panorama]p a n o r a m a t o q t e 
4
[hotword_change_location]b a sh o o h e N k o: 
1
[hotword_change_mode_to]m o: d o h e N k o: 
<
[hotword_change_networks]n e q t o w a: k u h e N k o: 
=
[hotword_change_the_difficulty]n a N i d o o h e N k o: 
5
[hotword_change_the_name]n a m a e o h e N k o: 
9
[hotword_change_the_pattern]p a t a: N o h e N k o: 
5
[hotword_change_the_time]j i k a N o h e N k o: 
8
[hotword_change_the_volume]o N r y o: o h e N k o: 
2
[hotword_check_me_in]ch e q k u i N sh i t e 
B
[hotword_check_the_battery]!d e N ch i k a k u n i N sh i t e 
1
[hotword_check_this_out]ch e q k u sh i t e 
C
[hotword_contact_support]$s a p o: t o n i t o i a w a s e t e 
=
[hotword_control_my_car]k u r u m a o s o: s a sh i t e 
6
[hotword_control_my_home]i e o s o: s a sh i t e 
t
[hotword_create_a_3d_model]'s a N d i: m o d e r u o ts u k u q t e*s u r i: d i: m o d e r u o ts u k u q t e 
,
[hotword_decline_call]ky o h i s u r u 
.
[hotword_delete_this]s a k u j o s u r u 
:
[hotword_dismiss_all_of_these]s u b e t e sh o: ky o 
.
[hotword_dismiss_this]sh o: ky o s u r u 
"
[hotword_driving]k u r u m a 
0
[hotword_end_this_call]d e N w a o k i r u 
0
[hotword_exit_game]g e: m u o sh u: r y o: 
.
[hotword_exit_music]sh u: r y o: s u r u 
L
[hotword_explore_nearby].sh u: h e N n o s u p o q t o s a g a sh i t e 
7
[hotword_explore_the_stars]h o sh i o m i s e t e 
=
[hotword_extend_video]!s a ts u e: j i k a N o e N ch o: 
;
[hotword_favorite_this]o k i n i i r i n i ts u i k a 
:
[hotword_find_a_bike]j i t e N sh a s a g a sh i t e 
9
[hotword_find_a_dentist]h a i sh a s a g a sh i t e 
6
[hotword_find_a_doctor]i sh a o s a g a sh i t e 
B
[hotword_find_a_flight]%f u r a i t o j o: h o: o m i s e t e 
1
[hotword_find_a_home]i e o s a g a sh i t e 
:
[hotword_find_a_hospital]b y o: i N s a g a sh i t e 
B
[hotword_find_a_passage]$b u N sh o: o k e N s a k u sh i t e 
7
[hotword_find_a_place]b a sh o o s a g a sh i t e 
<
[hotword_find_a_product]sh o: h i N o s a g a sh i t e 
<
[hotword_find_a_recipe]r e sh i p i o s a g a sh i t e 
6
[hotword_find_a_video]b i d e o s a g a sh i t e 
=
[hotword_find_a_website]w e b u s a i t o o m i s e t e 
L
[hotword_find_accommodations])sh u k u h a k u s a k i s a g a sh i t e 
<
[hotword_find_parking] ch u: sh a j o: s a g a sh i t e 
:
[hotword_find_reviews]k u ch i k o m i o m i s e t e 
6
[hotword_find_someone]h i t o o s a g a sh i t e 
8
[hotword_find_something]m o n o o s a g a sh i t e 
?
 [hotword_find_the_exchange_rate]k a w a s e o m i s e t e 
<
[hotword_find_the_price]k a k a k u o sh i r a b e t e 
.
[hotword_flip_a_coin]k o i N n a g e t e 
D
[hotword_forget_this_network]!n e q t o w a: k u s e ts u d a N 
?
[hotword_get_directions]!k e: r o o k e N s a k u sh i t e 
:
[hotword_give_me_a_challenge]k a d a i o m i s e t e 
;
[hotword_give_me_feedback]f i: d o b a q k u sh i t e 
,
[hotword_go_back]m a e n i m o d o r u 
2
[hotword_go_forward]ts u g i n i s u s u m u 
,
[hotword_google]k e N s a k u sh i t e 
=
[hotword_help_me_pray]!r e: h a i n o j u N b i sh i t e 
:
[hotword_help_me_relax]r i r a q k u s u s a s e t e 
6
[hotword_help_me_sign_in]r o g u i N s a s e t e 
5
[hotword_help_with_this]h e r u p u o hy o: j i 
J
[hotword_hide_route_overview]'r u: t o z e N t a i o k a k u sh i t e 
.
[hotword_hide_the_viewfinder]t o j i r u 
D
[hotword_identify_this_song]"ky o k u o n i N sh i k i sh i t e 
A
[hotword_join_a_network]#n e q t o w a: k u s e ts u z o k u 
=
[hotword_keep_me_awake] i n e m u r i b o: sh i sh i t e 

[hotword_king]	k i N g u 

[hotword_knight]	n a i t o 
@
[hotword_learn_a_language] g a i k o k u g o o o sh i e t e 
3
[hotword_learn_a_song]ky o k u o o sh i e t e 
;
[hotword_learn_an_instrument]g a q k i o o sh i e t e 
%
[hotword_listen]k i k a s e t e 
Q
[hotword_locate_a_satellite]/ch i k a k u n o j i N k o: e: s e: m i s e t e 
=
[hotword_log_a_meal]#sh o k u j i o k i r o k u sh i t e 
=
 [hotword_look_up_the_definition]t e: g i o o sh i e t e 
2
[hotword_magnify_this]k a k u d a i sh i t e 
0
[hotword_make_a_call]d e N w a k a k e t e 
8
[hotword_make_a_request]r i k u e s u t o sh i t e 
6
[hotword_make_a_reservation]y o y a k u sh i t e 
E
[hotword_make_a_video_call]$b i d e o ch a q t o h a j i m e t e 
7
[hotword_make_a_vignette]b i n e q t o ts u i k a 
2
[hotword_minify_this]sh u k u sh o: sh i t e 
8
[hotword_mute_my_microphone]m a i k u o m y u: t o 
/
[hotword_next_track]ts u g i n o ky o k u 
<
[hotword_open_this_website]w e b u s a i t o hy o: j i 
/
[hotword_pause_music]i ch i j i t e: sh i 

[hotword_pawn]p o: N 
/
[hotword_pick_a_card]k a: d o e r a N d e 
9
[hotword_play_a_game]g e: m u o k a i sh i sh i t e 
,
[hotword_play_music]s a i s e: s u r u 
?
[hotword_play_this_level] k o n o r e b e r u o k a i sh i 
C
[hotword_post_a_question]$sh i ts u m o N o t o: k o: sh i t e 
0
[hotword_post_an_update]t o: k o: sh i t e 
(
[hotword_post_to]t o: k o: s u r u 
0
[hotword_previous_track]m a e n o ky o k u 

[hotword_queen]k u i: N 
+
[hotword_read_aloud]y o m i a g e t e 
5
[hotword_recognize_this]n i N sh i k i sh i t e 
B
[hotword_record_a_recipe]#r e sh i p i o k i r o k u sh i t e 
B
[hotword_record_a_timelapse] t a i m u o k i r o k u sh i t e 
1
[hotword_record_a_video]b i d e o t o q t e 
6
[hotword_record_my_score]s u k o a o k i r o k u 
(
[hotword_remember_this]o b o e t e 
J
[hotword_remember_where_i_am]'g e N z a i ch i o k i r o k u sh i t e 
?
[hotword_remind_me]&r i m a i N d a: o s e q t e: sh i t e 
6
[hotword_reply_to_all]z e N i N n i h e N sh i N 
@
[hotword_reply_to_sender]!s o: sh i N sh a n i h e N sh i N 
1
[hotword_reply_to_this]h e N sh i N s u r u 
,
[hotword_reset_the_timer]r i s e q t o 
6
[hotword_resume_my_bike_ride]s a i k a i s u r u 
1
[hotword_return_this]h e N ky a k u s u r u 
6
[hotword_roll_the_dice]s a i k o r o o f u q t e 

[hotword_rook]r u: k u 
B
[hotword_run_an_experiment]!j i q k e N o k a i sh i sh i t e 
*
[hotword_save_this]h o z o N s u r u 
?
[hotword_scan_a_product]!sh o: h i N o s u ky a N sh i t e 
)
[hotword_see_more]m o q t o m i r u 
9
[hotword_select_this_link]r i N k u o s e N t a k u 
A
[hotword_send_a_message]#m e q s e: j i s o: sh i N sh i t e 
-
[hotword_send_money]s o: k i N sh i t e 
/
[hotword_send_this_to]s o: sh i N s u r u 
/
[hotword_set_the_timer]s e q t e: s u r u 
G
[hotword_share_my_location]&g e N z a i ch i o ky o: y u: sh i t e 
1
[hotword_share_this_with]ky o: y u: s u r u 
7
[hotword_show_a_compass]k o N p a s u m i s e t e 
3
[hotword_show_directions]k e: r o o hy o: j i 
4
[hotword_show_hazards]h a z a: d o o hy o: j i 
8
[hotword_show_ingredients]z a i r y o: o hy o: j i 
6
[hotword_show_instructions]t e j u N o hy o: j i 
2
[hotword_show_levels]r e b e r u o hy o: j i 
1
[hotword_show_me_a_demo]d e m o m i s e t e 
5
[hotword_show_me_a_place]b a sh o o m i s e t e 
B
[hotword_show_me_analytics]!a n a r i t i k u s u m i s e t e 
E
[hotword_show_me_my_account]#a k a u N t o j o: h o: m i s e t e 
7
[hotword_show_me_my_speed]s o k u d o m i s e t e 
6
[hotword_show_me_the_news]n y u: s u m i s e t e 
8
[hotword_show_me_the_weather]t e N k i m i s e t e 
D
[hotword_show_me_transit_times]j i k o k u hy o: o m i s e t e 
9
[hotword_show_measurements]s u N p o: o m i s e t e 
7
[hotword_show_my_pictures]sh a sh i N m i s e t e 
3
[hotword_show_my_videos]b i d e o m i s e t e 
C
[hotword_show_nutritional_info]e: y o: s e: b u N o hy o: j i 
4
[hotword_show_options]o p u sh o N o hy o: j i 
?
[hotword_show_results]#k e N s a k u k e q k a o hy o: j i 
C
[hotword_show_route_overview] r u: t o z e N t a i o hy o: j i 
4
[hotword_show_song_lyrics]k a sh i m i s e t e 
E
[hotword_show_the_disclaimer]"m e N s e k i j i k o: o hy o: j i 
=
[hotword_show_the_forecast]t e N k i y o h o: o m i r u 
2
[hotword_show_the_score]d e: t a o hy o: j i 
3
[hotword_show_the_source]s o: s u o hy o: j i 
D
[hotword_show_the_viewfinder]!f a i N d a: o hy o: j i sh i t e 
6
[hotword_snooze_alerts]ts u: ch i o s u n u: z u 
3
[hotword_star_message]s u t a: o ts u k e r u 
F
[hotword_start_a_bike_ride]%s a i k u r i N g u o h a j i m e t e 
A
[hotword_start_a_flight]#f u r a i t o o k a i sh i sh i t e 
3
[hotword_start_a_new_game]sh i N k i g e: m u 
:
[hotword_start_a_race]r e: s u o k a i sh i sh i t e 
K
[hotword_start_a_radio_station]&r a j i o s u t e: sh o N o k a i sh i 
H
[hotword_start_a_round_of_golf]#g o r u f u j o: h o: o m i s e t e 
<
[hotword_start_a_run]!r a N n i N g u o h a j i m e t e 
K
[hotword_start_a_stopwatch]*s u t o q p u w o q ch i o h a j i m e t e 
<
[hotword_start_a_timer]t a i m a: o s e q t o sh i t e 
9
[hotword_start_a_tour]ts u a: o k a i sh i sh i t e 
A
[hotword_start_a_workout]"w a: k u a u t o o h a j i m e t e 
N
[hotword_start_broadcasting],s u t o r i: m i N g u o k a i sh i sh i t e 
C
[hotword_start_coaching]%k o: ch i N g u o k a i sh i sh i t e 
5
[hotword_start_imaging]e: z o: o ts u k u q t e 
O
[hotword_start_presenting]/p u r e z e N t e: sh o N o k a i sh i sh i t e 
1
[hotword_start_the_timer]k a i sh i s u r u 
5
[hotword_stop_directions]n a b i o sh u: r y o: 
+
[hotword_stop_music]t e: sh i s u r u 
+
[hotword_stop_this]t e: sh i sh i t e 
+
[hotword_take_a_note]m e m o sh i t e 
3
[hotword_take_a_picture]sh a sh i N t o q t e 
*
[hotword_teach_me_about]o sh i e t e 
A
[hotword_tell_a_story]%m o n o g a t a r i o k i k a s e t e 
?
[hotword_track_this_package]n i m o ts u o ts u i s e k i 
,
[hotword_transit]k o: ky o: k o: ts u: 
4
[hotword_translate_this]h o N y a k u sh i t e 
,
[hotword_try_this_out]k i d o: s u r u 
E
[hotword_tune_an_instrument]#g a q k i o ch o: r i ts u sh i t e 
@
![hotword_turn_off_the_flashlight]f u r a q sh u sh o: t o: 
C
 [hotword_turn_on_the_flashlight]f u r a q sh u o ts u k e t e 
,
[hotword_turn_the_sound_off]
m y u: t o 
5
[hotword_turn_the_sound_on]m y u: t o k a i j o 
.
[hotword_turn_this_off]o f u n i s u r u 
+
[hotword_turn_this_on]o N n i s u r u 
+
[hotword_undo]m o t o n i m o d o s u 
E
[hotword_undo_my_last_action]"h i t o ts u m a e n i m o d o s u 
8
[hotword_use_a_filter]f i r u t a o ts u k a q t e 
8
[hotword_view_licences]r a i s e N s u o hy o: j i 
#
[hotword_walking]k a ch i d e 
A
[hotword_watch_my_swing]#s u i N g u j o: h o: o m i s e t e 