
+
[hotword_accept_event]@ k s E p t D I s
+
[hotword_add_an_event]{ d { n @ v E n t
8
[hotword_add_an_event_disambig]{ d { n @ v E n t t u
;
[hotword_add_an_ingredient]{ d { n I n g r\ i d i @ n t
@
[hotword_add_a_caption]{ d @ k { p S @ n{ d eI k { p S @ n
g
[hotword_add_a_comment]{ d @ k A m @ n t{ d @ k A m E n t{ d eI k A m @ n t{ d eI k A m E n t
3
[hotword_add_a_note]{ d @ n oU t{ d eI n oU t
=
[hotword_add_a_review]{ d @ r\ @ v j u{ d eI r\ @ v j u
=
[hotword_add_a_review]{ d @ r\ @ v j u{ d eI r\ @ v j u
R
[hotword_add_a_review_disambig]{ d @ r\ @ v j u w I T{ d eI r\ @ v j u w I T
C
[hotword_add_nutritional_info]!{ d n u t r\ I S @ n @ l I n f oU
'
[hotword_answer_call]{ n s @` k O l
3
[hotword_archive_message]A r\ k aI v m E s @ dZ

[hotword_biking]
b aI k @ N

[hotword_bishop]	b I S @ p
)
[hotword_calculate]k { l k j @ l eI t
8
[hotword_calculate_disambig]k { l k j @ l eI t w I T
3
[hotword_calibrate_this]k { l @ b r\ eI t D I s
B
[hotword_call_me_a_car]k O l m i @ k A r\k O l m i eI k A r\
W
 [hotword_call_me_a_car_disambig]k O l m i @ k A r\ w I Tk O l m i eI k A r\ w I T
4
[hotword_call_this_number]k O l D I s n V m b @`
4
[hotword_call_this_person]k O l D I s p @` s @ n
_
[hotword_capture_a_panorama]k { p tS @` @ p { n @ r\ { m @k { p tS @` eI p { n @ r\ { m @
t
%[hotword_capture_a_panorama_disambig]$k { p tS @` @ p { n @ r\ { m @ w I T%k { p tS @` eI p { n @ r\ { m @ w I T
7
[hotword_change_location]tS eI n dZ l oU k eI S @ n
1
[hotword_change_mode_to]tS eI n dZ m oU d t u
6
[hotword_change_networks]tS eI n dZ n E t w @` k s
©
[hotword_change_the_difficulty] tS eI n dZ D V d I f @ k @ l t i tS eI n dZ D V d I f @ k U l t i tS eI n dZ D @ d I f @ k @ l t i tS eI n dZ D @ d I f @ k U l t i
I
[hotword_change_the_name]tS eI n dZ D V n eI mtS eI n dZ D @ n eI m
T
[hotword_change_the_pattern]tS eI n dZ D V p { t @` ntS eI n dZ D @ p { t @` n
I
[hotword_change_the_time]tS eI n dZ D V t aI mtS eI n dZ D @ t aI m
P
[hotword_change_the_timer]tS eI n dZ D V t aI m @`tS eI n dZ D @ t aI m @`
U
[hotword_change_the_volume]tS eI n dZ D V v A l j u mtS eI n dZ D @ v A l j u m
c
[hotword_change_the_wake_angle]tS eI n dZ D V w eI k { N g @ ltS eI n dZ D @ w eI k { N g @ l
:
[hotword_check_me_in]tS E k m i I ntS E k m i aI E n
O
[hotword_check_me_in_disambig]tS E k m i I n w I TtS E k m i aI E n w I T
M
 [hotword_check_me_in_open_ended]tS E k m i I n t utS E k m i aI E n t u
K
[hotword_check_the_battery]tS E k D V b { t @` itS E k D @ b { t @` i
`
$[hotword_check_the_battery_disambig]tS E k D V b { t @` i w I TtS E k D @ b { t @` i w I T
-
[hotword_check_this_out]tS E k D I s aU t
<
![hotword_check_this_out_disambig]tS E k D I s aU t w I T
7
[hotword_contact_support]k A n t { k t s @ p O r\ t
F
"[hotword_contact_support_disambig] k A n t { k t s @ p O r\ t w I T
7
[hotword_control_my_car]k @ n t r\ oU l m aI k A r\
8
[hotword_control_my_home]k @ n t r\ oU l m aI h oU m
G
"[hotword_control_my_home_disambig]!k @ n t r\ oU l m aI h oU m w I T
f
[hotword_create_a_3d_model]"k r\ i eI t @ T r\ i d i m A d @ l#k r\ i eI t eI T r\ i d i m A d @ l
{
$[hotword_create_a_3d_model_disambig](k r\ i eI t @ T r\ i d i m A d @ l w I T)k r\ i eI t eI T r\ i d i m A d @ l w I T
,
[hotword_decline_call]d @ k l aI n k O l
-
[hotword_decline_event]d @ k l aI n D I s
(
[hotword_delete_this]d @ l i t D I s
M
[hotword_dismiss_all]d I s m I s O l V v D i zd @ s m I s O l V v D i z
>
[hotword_dismiss_this]d I s m I s D I sd @ s m I s D I s
"
[hotword_driving]d r\ aI v @ N
,
[hotword_end_this_call]E n d D I s k O l
'
[hotword_exit_game]E k s @ t g eI m
-
[hotword_exit_music]E k s @ t m j u z @ k
6
[hotword_explore_nearby]@ k s p l O r\ n i r\ b aI
E
![hotword_explore_nearby_disambig] @ k s p l O r\ n i r\ b aI w I T
w
[hotword_explore_the_stars]@ k s p l O r\ D V s t A r\ z@ k s p l O r\ D @ s t A r\ z@ k s p l O D @ s t A r\ z
p
$[hotword_explore_the_stars_disambig]#@ k s p l O r\ D V s t A r\ z w I T#@ k s p l O r\ D @ s t A r\ z w I T
L
[hotword_extend_video]@ k s t E n d v i d i oU@ k s t E n d v I d i oU
.
[hotword_favorite_this]f eI v @` @ t D I s
>
[hotword_find_a_bike]f aI n d @ b aI kf aI n d eI b aI k
S
[hotword_find_a_bike_disambig]f aI n d @ b aI k w I Tf aI n d eI b aI k w I T
O
[hotword_find_a_dentist]f aI n d @ d E n t @ s tf aI n d eI d E n t @ s t
d
![hotword_find_a_dentist_disambig]f aI n d @ d E n t @ s t w I Tf aI n d eI d E n t @ s t w I T
H
[hotword_find_a_doctor]f aI n d @ d A k t @`f aI n d eI d A k t @`
]
 [hotword_find_a_doctor_disambig]f aI n d @ d A k t @` w I Tf aI n d eI d A k t @` w I T
D
[hotword_find_a_flight]f aI n d @ f l aI tf aI n d eI f l aI t
Y
 [hotword_find_a_flight_disambig]f aI n d @ f l aI t w I Tf aI n d eI f l aI t w I T
>
[hotword_find_a_home]f aI n d @ h oU mf aI n d eI h oU m
S
[hotword_find_a_home_disambig]f aI n d @ h oU m w I Tf aI n d eI h oU m w I T
T
[hotword_find_a_hospital]f aI n d @ h A s p @ t @ lf aI n d eI h A s p @ t @ l
i
"[hotword_find_a_hospital_disambig] f aI n d @ h A s p @ t @ l w I T!f aI n d eI h A s p @ t @ l w I T
I
[hotword_find_a_passage]f aI n d @ p { s @ dZf aI n d eI p { s @ dZ
^
![hotword_find_a_passage_disambig]f aI n d @ p { s @ dZ w I Tf aI n d eI p { s @ dZ w I T
C
[hotword_find_a_place]f aI n d @ p l eI sf aI n d eI p l eI s
X
[hotword_find_a_place_disambig]f aI n d @ p l eI s w I Tf aI n d eI p l eI s w I T
A
[hotword_find_a_place_to_stay]f aI n d @ k A m @ d eI S @ n z
P
'[hotword_find_a_place_to_stay_disambig]%f aI n d @ k A m @ d eI S @ n z w I T
ˆ
[hotword_find_a_product]f aI n d @ p r\ A d @ k tf aI n d @ p r\ A d V k tf aI n d eI p r\ A d @ k tf aI n d eI p r\ A d V k t
©
![hotword_find_a_product_disambig]f aI n d @ p r\ A d @ k t w I Tf aI n d @ p r\ A d V k t w I T f aI n d eI p r\ A d @ k t w I T f aI n d eI p r\ A d V k t w I T
L
[hotword_find_a_recipe]f aI n d @ r\ E s @ p if aI n d eI r\ E s @ p i
a
 [hotword_find_a_recipe_disambig]f aI n d @ r\ E s @ p i w I Tf aI n d eI r\ E s @ p i w I T
e
"[hotword_find_a_recipe_open_ended]f aI n d @ r\ E s @ p i f O r\f aI n d eI r\ E s @ p i f O r\
v
[hotword_find_a_video]f aI n d @ v i d i oUf aI n d @ v I d i oUf aI n d eI v i d i oUf aI n d eI v I d i oU
—
[hotword_find_a_video_disambig]f aI n d @ v i d i oU w I Tf aI n d @ v I d i oU w I Tf aI n d eI v i d i oU w I Tf aI n d eI v I d i oU w I T
‘
![hotword_find_a_video_open_ended]f aI n d @ v i d i oU V vf aI n d @ v I d i oU V vf aI n d eI v i d i oU V vf aI n d eI v I d i oU V v
M
[hotword_find_a_website]f aI n d @ w E b s aI tf aI n d eI w E b s aI t
b
![hotword_find_a_website_disambig]f aI n d @ w E b s aI t w I Tf aI n d eI w E b s aI t w I T
/
[hotword_find_parking]f aI n d p A r\ k @ N
>
[hotword_find_parking_disambig]f aI n d p A r\ k @ N w I T
/
[hotword_find_reviews]f aI n d r\ @ v j u z
>
[hotword_find_reviews_disambig]f aI n d r\ @ v j u z w I T
>
![hotword_find_reviews_open_ended]f aI n d r\ @ v j u z V v
.
[hotword_find_someone]f aI n d s V m w V n
=
[hotword_find_someone_disambig]f aI n d s V m w V n w I T
0
[hotword_find_something]f aI n d s V m T @ N
?
![hotword_find_something_disambig]f aI n d s V m T @ N w I T
p
 [hotword_find_the_exchange_rate]%f aI n d D V @ k s tS eI n dZ r\ eI t%f aI n d D @ @ k s tS eI n dZ r\ eI t
…
)[hotword_find_the_exchange_rate_disambig]+f aI n d D V @ k s tS eI n dZ r\ eI t w I T+f aI n d D @ @ k s tS eI n dZ r\ eI t w I T
ƒ
+[hotword_find_the_exchange_rate_open_ended])f aI n d D V @ k s tS eI n dZ r\ eI t V v)f aI n d D @ @ k s tS eI n dZ r\ eI t V v
J
[hotword_find_the_price]f aI n d D V p r\ aI sf aI n d D @ p r\ aI s
_
![hotword_find_the_price_disambig]f aI n d D V p r\ aI s w I Tf aI n d D @ p r\ aI s w I T
c
#[hotword_find_the_price_open_ended]f aI n d D V p r\ aI s f O r\f aI n d D @ p r\ aI s f O r\
<
[hotword_flip_a_coin]f l I p @ k OI nf l I p eI k OI n
Q
[hotword_flip_a_coin_disambig]f l I p @ k OI n w I Tf l I p eI k OI n w I T
>
[hotword_forget_this_network]f @` g E t D I s n E t w @` k
J
[hotword_get_directions]g E t d @` E k S @ n zg I t d @` E k S @ n z
_
![hotword_get_directions_disambig]g E t d @` E k S @ n z w I Tg I t d @` E k S @ n z w I T
]
#[hotword_get_directions_open_ended]g E t d @` E k S @ n z t ug I t d @` E k S @ n z t u
V
[hotword_give_me_a_challenge]g I v m i @ tS { l @ n dZg I v m i eI tS { l @ n dZ
k
&[hotword_give_me_a_challenge_disambig]g I v m i @ tS { l @ n dZ w I T g I v m i eI tS { l @ n dZ w I T
3
[hotword_give_me_feedback]g I v m i f i d b { k
B
#[hotword_give_me_feedback_disambig]g I v m i f i d b { k w I T

[hotword_google]	g u g @ l

[hotword_go_back]
g oU b { k
*
[hotword_go_forward]g oU f O r\ w @` d
-
[hotword_help_me_pray]h E l p m i p r\ eI
<
[hotword_help_me_pray_disambig]h E l p m i p r\ eI w I T
3
[hotword_help_me_relax]h E l p m i r\ @ l { k s
B
 [hotword_help_me_relax_disambig]h E l p m i r\ @ l { k s w I T
N
[hotword_help_me_sign_in]h E l p m i s aI n I nh E l p m i s aI n aI E n
c
"[hotword_help_me_sign_in_disambig]h E l p m i s aI n I n w I Th E l p m i s aI n aI E n w I T
/
[hotword_help_with_this]h E l p w I T D I s
X
[hotword_hide_route_overview]h aI d r\ u t p r\ i v j uh aI d r\ aU t p r\ i v j u
[
[hotword_hide_the_viewfinder]h aI d D V v j u f aI n d @`h aI d D @ v j u f aI n d @`
K
[hotword_join_a_network]dZ OI n @ n E t w @` kdZ OI n eI n E t w @` k
-
[hotword_keep_me_awake]k i p m i @ w eI k
<
 [hotword_keep_me_awake_disambig]k i p m i @ w eI k w I T

[hotword_king]k I N

[hotword_knight]n aI t
@
[hotword_learn_an_instrument]l @` n { n I n s t r\ @ m @ n t
O
&[hotword_learn_an_instrument_disambig]%l @` n { n I n s t r\ @ m @ n t w I T
O
[hotword_learn_a_language]l @` n @ l { N g w @ dZl @` n eI l { N g w @ dZ
d
#[hotword_learn_a_language_disambig]l @` n @ l { N g w @ dZ w I Tl @` n eI l { N g w @ dZ w I T
9
[hotword_learn_a_song]l @` n @ s O Nl @` n eI s O N
N
[hotword_learn_a_song_disambig]l @` n @ s O N w I Tl @` n eI s O N w I T
 
[hotword_listen_to]	l I s @ n
/
[hotword_listen_to_disambig]l I s @ n w I T
/
[hotword_listen_to_open_ended]l I s @ n t u
[
[hotword_locate_a_satellite]l oU k eI t @ s { t @ l aI tl oU k eI t eI s { t @ l aI t
p
%[hotword_locate_a_satellite_disambig]"l oU k eI t @ s { t @ l aI t w I T#l oU k eI t eI s { t @ l aI t w I T
5
[hotword_log_a_meal]l O g @ m i ll O g eI m i l
J
[hotword_log_a_meal_disambig]l O g @ m i l w I Tl O g eI m i l w I T
d
 [hotword_look_up_the_definition]l U k V p D V d E f @ n I S @ nl U k V p D @ d E f @ n I S @ n
y
)[hotword_look_up_the_definition_disambig]%l U k V p D V d E f @ n I S @ n w I T%l U k V p D @ d E f @ n I S @ n w I T
w
+[hotword_look_up_the_definition_open_ended]#l U k V p D V d E f @ n I S @ n V v#l U k V p D @ d E f @ n I S @ n V v
.
[hotword_magnify_this]m { g n @ f aI D I s
=
[hotword_magnify_this_disambig]m { g n @ f aI D I s w I T
8
[hotword_make_a_call]m eI k @ k O lm eI k eI k O l
M
[hotword_make_a_call_disambig]m eI k @ k O l w I Tm eI k eI k O l w I T
K
 [hotword_make_a_call_open_ended]m eI k @ k O l t um eI k eI k O l t u
M
[hotword_make_a_request]m eI k @ r\ @ k w E s tm eI k eI r\ @ k w E s t
b
![hotword_make_a_request_disambig]m eI k @ r\ @ k w E s t w I Tm eI k eI r\ @ k w E s t w I T
]
[hotword_make_a_reservation]m eI k @ r\ E z @` v eI S @ nm eI k eI r\ E z @` v eI S @ n
r
%[hotword_make_a_reservation_disambig]#m eI k @ r\ E z @` v eI S @ n w I T$m eI k eI r\ E z @` v eI S @ n w I T
½
'[hotword_make_a_reservation_open_ended]!m eI k @ r\ E z @` v eI S @ n { t$m eI k @ r\ E z @` v eI S @ n eI t i"m eI k eI r\ E z @` v eI S @ n { t%m eI k eI r\ E z @` v eI S @ n eI t i
‹
[hotword_make_a_video_call]m eI k @ v i d i oU k O lm eI k @ v I d i oU k O lm eI k eI v i d i oU k O lm eI k eI v I d i oU k O l
¬
$[hotword_make_a_video_call_disambig]m eI k @ v i d i oU k O l w I Tm eI k @ v I d i oU k O l w I T m eI k eI v i d i oU k O l w I T m eI k eI v I d i oU k O l w I T
¦
&[hotword_make_a_video_call_open_ended]m eI k @ v i d i oU k O l t um eI k @ v I d i oU k O l t um eI k eI v i d i oU k O l t um eI k eI v I d i oU k O l t u
y
[hotword_make_a_vignette]m eI k @ v I g n E tm eI k @ v I N n j E tm eI k eI v I g n E tm eI k eI v I N n j E t
2
[hotword_manage_places]m { n @ dZ p l eI s @ z
T
[hotword_minify_this]m I n I f j D I sm I n I f w aI D I sm I n @ f aI D I s
o
[hotword_minify_this_disambig]m I n I f j D I s w I Tm I n I f w aI D I s w I Tm I n @ f aI D I s w I T
?
[hotword_mute_my_microphone]m j u t m aI m aI k r\ @ f oU n
*
[hotword_next_track]n E k s t t r\ { k
:
[hotword_open_this_website]oU p @ n D I s w E b s aI t
*
[hotword_pause_music]p O z m j u z @ k
4
[hotword_pause_recording]p O z r\ @ k O r\ d @ N
E
[hotword_pause_the_timer]p O z D V t aI m @`p O z D @ t aI m @`
;
[hotword_pause_video]p O z v i d i oUp O z v I d i oU

[hotword_pawn]p O n
<
[hotword_pick_a_card]p I k @ k A r\ dp I k eI k A r\ d
Q
[hotword_pick_a_card_disambig]p I k @ k A r\ d w I Tp I k eI k A r\ d w I T
:
[hotword_play_a_game]p l eI @ g eI mp l eI eI g eI m
K
[hotword_play_a_game_disambig]p l eI @ g eI m V vp l eI eI g eI m V v
*
[hotword_play_music]p l eI m j u z @ k
3
[hotword_play_this_level]p l eI D I s l E v @ l
<
[hotword_play_video]p l eI v i d i oUp l eI v I d i oU
)
[hotword_plus_one]p l V s w V n D I s
3
[hotword_post_an_update]p oU s t { n V p d eI t
@
![hotword_post_an_update_disambig]p oU s t { n V p d eI t t u
R
[hotword_post_a_question]p oU s t @ k w E s tS @ np oU s t eI k w E s tS @ n
g
"[hotword_post_a_question_disambig]p oU s t @ k w E s tS @ n w I T p oU s t eI k w E s tS @ n w I T
!
[hotword_post_to]p oU s t t u
3
[hotword_previous_track]p r\ i v i @ s t r\ { k

[hotword_queen]k w i n
8
[hotword_read_aloud]r\ i d @ l aU dr\ E d @ l aU d
3
[hotword_recognize_this]r\ E k @ g n aI z D I s
B
![hotword_recognize_this_disambig]r\ E k @ g n aI z D I s w I T
\
[hotword_recognize_this_song]aI d E n t @ f aI D I s s O N@ d E n t @ f aI D I s s O N
q
&[hotword_recognize_this_song_disambig]#aI d E n t @ f aI D I s s O N w I T"@ d E n t @ f aI D I s s O N w I T
‘
[hotword_record_a_recipe]r\ E k @` d @ r\ E s @ p ir\ E k @` d eI r\ E s @ p ir\ @ k O r\ d @ r\ E s @ p ir\ @ k O r\ d eI r\ E s @ p i
²
"[hotword_record_a_recipe_disambig] r\ E k @` d @ r\ E s @ p i w I T!r\ E k @` d eI r\ E s @ p i w I T"r\ @ k O r\ d @ r\ E s @ p i w I T#r\ @ k O r\ d eI r\ E s @ p i w I T
¬
$[hotword_record_a_recipe_open_ended]r\ E k @` d @ r\ E s @ p i V vr\ E k @` d eI r\ E s @ p i V v r\ @ k O r\ d @ r\ E s @ p i V v!r\ @ k O r\ d eI r\ E s @ p i V v
œ
[hotword_record_a_timelapse]r\ E k @` d @ t aI m l { p sr\ E k @` d eI t aI m l { p sr\ @ k O r\ d @ t aI m l { p sr\ @ k O r\ d eI t aI m l { p s
½
%[hotword_record_a_timelapse_disambig]"r\ E k @` d @ t aI m l { p s w I T#r\ E k @` d eI t aI m l { p s w I T$r\ @ k O r\ d @ t aI m l { p s w I T%r\ @ k O r\ d eI t aI m l { p s w I T
ö
[hotword_record_a_video]r\ E k @` d @ v i d i oUr\ E k @` d @ v I d i oUr\ E k @` d eI v i d i oUr\ E k @` d eI v I d i oUr\ @ k O r\ d @ v i d i oUr\ @ k O r\ d @ v I d i oUr\ @ k O r\ d eI v i d i oUr\ @ k O r\ d eI v I d i oU
¯
![hotword_record_a_video_disambig]r\ E k @` d @ v i d i oU w I Tr\ E k @` d @ v I d i oU w I Tr\ E k @` d eI v i d i oU w I Tr\ E k @` d eI v I d i oU w I T r\ @ k O r\ d @ v i d i oU w I T r\ @ k O r\ d @ v I d i oU w I T!r\ @ k O r\ d eI v i d i oU w I T!r\ @ k O r\ d eI v I d i oU w I T
S
[hotword_record_my_score]r\ E k @` d m aI s k O r\r\ @ k O r\ d m aI s k O r\
0
[hotword_remember_this]r\ @ m E m b @` D I s
?
 [hotword_remember_this_disambig]r\ @ m E m b @` D I s w I T
Ÿ
[hotword_remember_where_i_am]r\ @ m E m b @` w E r\ aI { m r\ @ m E m b @` w E r\ aI eI E mr\ @ m E m b @` w E r\ I { mr\ @ m E m b @` w E r\ I eI E m
À
&[hotword_remember_where_i_am_disambig]#r\ @ m E m b @` w E r\ aI { m w I T&r\ @ m E m b @` w E r\ aI eI E m w I T"r\ @ m E m b @` w E r\ I { m w I T%r\ @ m E m b @` w E r\ I eI E m w I T
(
[hotword_remind_me]r\ @ m aI n d m i
7
[hotword_remind_me_disambig]r\ @ m aI n d m i w I T
@
[hotword_reply]s E n d @ r\ @ p l aIs E n d eI r\ @ p l aI
-
[hotword_reply_to_all]r\ @ p l aI t u O l
7
[hotword_reply_to_sender]r\ @ p l aI t u s E n d @`
O
[hotword_reset_the_timer]r\ i s E t D V t aI m @`r\ i s E t D @ t aI m @`
b
[hotword_resume_my_bike_ride]!r\ E z @ m eI m aI b aI k r\ aI dr\ @ z u m m aI b aI k r\ aI d
L
[hotword_resume_my_run]r\ E z @ m eI m aI r\ V nr\ @ z u m m aI r\ V n
Š
[hotword_resume_the_timer]r\ E z @ m eI D V t aI m @`r\ E z @ m eI D @ t aI m @`r\ @ z u m D V t aI m @`r\ @ z u m D @ t aI m @`
"
[hotword_retry]t r\ aI @ g E n
*
[hotword_return_this]r\ @ t @` n D I s
A
[hotword_roll_the_dice]r\ oU l D V d aI sr\ oU l D @ d aI s
V
 [hotword_roll_the_dice_disambig]r\ oU l D V d aI s w I Tr\ oU l D @ d aI s w I T

[hotword_rook]r\ U k
c
[hotword_run_an_experiment]!r\ V n { n @ k s p i r\ @ m @ n t!r\ V n { n @ k s p E r\ @ m @ n t
x
$[hotword_run_an_experiment_disambig]'r\ V n { n @ k s p i r\ @ m @ n t w I T'r\ V n { n @ k s p E r\ @ m @ n t w I T
#
[hotword_save_this]s eI v D I s
„
[hotword_scan_a_product]s k { n @ p r\ A d @ k ts k { n @ p r\ A d V k ts k { n eI p r\ A d @ k ts k { n eI p r\ A d V k t
¥
![hotword_scan_a_product_disambig]s k { n @ p r\ A d @ k t w I Ts k { n @ p r\ A d V k t w I Ts k { n eI p r\ A d @ k t w I Ts k { n eI p r\ A d V k t w I T
 
[hotword_see_more]
s i m O r\
4
[hotword_select_this_link]oU p @ n D I s l I N k
G
[hotword_send_a_message]s E n d @ m E s @ dZs E n d eI m E s @ dZ
Z
#[hotword_send_a_message_open_ended]s E n d @ m E s @ dZ t us E n d eI m E s @ dZ t u
'
[hotword_send_money]s E n d m V n i
6
[hotword_send_money_disambig]s E n d m V n i w I T
6
[hotword_send_money_open_ended]s E n d m V n i t u
+
[hotword_send_this_to]s E n d D I s t u
C
[hotword_set_the_timer]s E t D V t aI m @`s E t D @ t aI m @`
:
[hotword_share_my_location]S E r\ m aI l oU k eI S @ n
I
$[hotword_share_my_location_disambig]!S E r\ m aI l oU k eI S @ n w I T
/
[hotword_share_this_with]S E r\ D I s w I T
C
[hotword_show_a_compass]S oU @ k V m p @ sS oU eI k V m p @ s
X
![hotword_show_a_compass_disambig]S oU @ k V m p @ s w I TS oU eI k V m p @ s w I T
A
[hotword_show_comments]S oU k A m @ n t sS oU k A m E n t s
2
[hotword_show_directions]S oU d @` E k S @ n z
+
[hotword_show_hazards]S oU h { z @` d z
V
[hotword_show_ingredients]S oU I n g r\ i d i @ n t sS oU @ n g r\ i d i @ n t s
W
[hotword_show_instructions]S oU I n s t r\ V k S @ n zS oU @ n s t r\ U k S @ n z
)
[hotword_show_levels]S oU l E v @ l z
6
[hotword_show_measurements]S oU m E Z @` m @ n t s
E
$[hotword_show_measurements_disambig]S oU m E Z @` m @ n t s w I T
9
[hotword_show_me_analytics]S oU m i { n @ l I t @ k s
K
$[hotword_show_me_analytics_disambig]#S oU m i { n @ l I t @ k s f r\ V m
E
[hotword_show_me_a_demo]S oU m i @ d E m oUS oU m i eI d E m oU
Z
![hotword_show_me_a_demo_disambig]S oU m i @ d E m oU w I TS oU m i eI d E m oU w I T
F
[hotword_show_me_a_place]S oU m i @ p l eI sS oU m i eI p l eI s
[
"[hotword_show_me_a_place_disambig]S oU m i @ p l eI s w I TS oU m i eI p l eI s w I T
8
[hotword_show_me_my_account]S oU m i m aI @ k aU n t
J
%[hotword_show_me_my_account_disambig]!S oU m i m aI @ k aU n t f r\ V m
3
[hotword_show_me_my_speed]S oU m i m aI s p i d
B
#[hotword_show_me_my_speed_disambig]S oU m i m aI s p i d w I T
D
[hotword_show_me_the_news]S oU m i D V n u zS oU m i D @ n u z
_
#[hotword_show_me_the_news_disambig]S oU m i D V n u z f r\ V mS oU m i D @ n u z f r\ V m
M
[hotword_show_me_the_weather]S oU m i D V w E D @`S oU m i D @ w E D @`
h
&[hotword_show_me_the_weather_disambig]S oU m i D V w E D @` f r\ V mS oU m i D @ w E D @` f r\ V m
C
[hotword_show_me_transit_times] S oU m i t r\ { n z @ t t aI m z
R
([hotword_show_me_transit_times_disambig]&S oU m i t r\ { n z @ t t aI m z w I T
"
[hotword_show_more]S oU m O r\
7
[hotword_show_my_glassware]S oU m aI g l { s w E r\
5
[hotword_show_my_pictures]S oU m aI p I k tS @` z
D
#[hotword_show_my_pictures_disambig]S oU m aI p I k tS @` z w I T
2
[hotword_show_my_videos]S oU m aI v I d i oU z
A
![hotword_show_my_videos_disambig]S oU m aI v I d i oU z w I T
E
[hotword_show_nutritional_info]"S oU n u t r\ I S @ n @ l I n f oU
*
[hotword_show_options]S oU A p S @ n z
6
[hotword_show_recipients]S oU r\ @ s I p i @ n t s
-
[hotword_show_results]S oU r\ @ z V l t s
T
[hotword_show_route_overview]S oU r\ u t p r\ i v j uS oU r\ aU t p r\ i v j u
5
[hotword_show_song_lyrics]S oU s O N l i r\ @ k s
G
#[hotword_show_song_lyrics_disambig] S oU s O N l i r\ @ k s f r\ V m

[hotword_show_the_disclaimer]S oU D V d @ s k l eI m @`S oU D V d I s k l eI m @`S oU D @ d @ s k l eI m @`S oU D @ d I s k l eI m @`
O
[hotword_show_the_forecast]S oU D V f O r\ k { s tS oU D @ f O r\ k { s t
@
[hotword_show_the_score]S oU D V s k O r\S oU D @ s k O r\
A
[hotword_show_the_source]S oU D V s O r\ sS oU D @ s O r\ s
W
[hotword_show_the_viewfinder]S oU D V v j u f aI n d @`S oU D @ v j u f aI n d @`
l
&[hotword_show_the_viewfinder_disambig] S oU D V v j u f aI n d @` w I T S oU D @ v j u f aI n d @` w I T
-
[hotword_snooze_alerts]s n u z @ l @` t s
X
[hotword_start_a_bike_ride]s t A r\ t @ b aI k r\ aI ds t A r\ t eI b aI k r\ aI d
m
$[hotword_start_a_bike_ride_disambig]!s t A r\ t @ b aI k r\ aI d w I T"s t A r\ t eI b aI k r\ aI d w I T
I
[hotword_start_a_flight]s t A r\ t @ f l aI ts t A r\ t eI f l aI t
^
![hotword_start_a_flight_disambig]s t A r\ t @ f l aI t w I Ts t A r\ t eI f l aI t w I T
O
[hotword_start_a_new_game]s t A r\ t @ n u g eI ms t A r\ t eI n u g eI m
E
[hotword_start_a_race]s t A r\ t @ r\ eI ss t A r\ t eI r\ eI s
Z
[hotword_start_a_race_disambig]s t A r\ t @ r\ eI s w I Ts t A r\ t eI r\ eI s w I T
r
[hotword_start_a_radio_station]&s t A r\ t @ r\ eI d i oU s t eI S @ n's t A r\ t eI r\ eI d i oU s t eI S @ n
j
[hotword_start_a_round_of_golf]"s t A r\ t @ r\ aU n d V v g O l f#s t A r\ t eI r\ aU n d V v g O l f

([hotword_start_a_round_of_golf_disambig](s t A r\ t @ r\ aU n d V v g O l f w I T)s t A r\ t eI r\ aU n d V v g O l f w I T
B
[hotword_start_a_run]s t A r\ t @ r\ V ns t A r\ t eI r\ V n
W
[hotword_start_a_run_disambig]s t A r\ t @ r\ V n w I Ts t A r\ t eI r\ V n w I T
X
[hotword_start_a_stopwatch]s t A r\ t @ s t A p w A tSs t A r\ t eI s t A p w A tS
m
$[hotword_start_a_stopwatch_disambig]!s t A r\ t @ s t A p w A tS w I T"s t A r\ t eI s t A p w A tS w I T
J
[hotword_start_a_timer]s t A r\ t @ t aI m @`s t A r\ t eI t aI m @`
_
 [hotword_start_a_timer_disambig]s t A r\ t @ t aI m @` w I Ts t A r\ t eI t aI m @` w I T
C
[hotword_start_a_tour]s t A r\ t @ t O r\s t A r\ t eI t O r\
X
[hotword_start_a_tour_disambig]s t A r\ t @ t O r\ w I Ts t A r\ t eI t O r\ w I T
P
[hotword_start_a_workout]s t A r\ t @ w @` k aU ts t A r\ t eI w @` k aU t
e
"[hotword_start_a_workout_disambig]s t A r\ t @ w @` k aU t w I Ts t A r\ t eI w @` k aU t w I T
?
[hotword_start_broadcasting]s t A r\ t b r\ O d k { s t @ N
N
%[hotword_start_broadcasting_disambig]%s t A r\ t b r\ O d k { s t @ N w I T
2
[hotword_start_coaching]s t A r\ t k oU tS @ N
A
![hotword_start_coaching_disambig]s t A r\ t k oU tS @ N w I T
2
[hotword_start_imaging]s t A r\ t I m @ dZ @ N
A
 [hotword_start_imaging_disambig]s t A r\ t I m @ dZ @ N w I T
;
[hotword_start_presenting]s t A r\ t p r\ @ z E n t @ N
J
#[hotword_start_presenting_disambig]#s t A r\ t p r\ @ z E n t @ N w I T
O
[hotword_start_the_timer]s t A r\ t D V t aI m @`s t A r\ t D @ t aI m @`
-
[hotword_star_message]s t A r\ m E s @ dZ
5
[hotword_stop_directions]s t A p d @` E k S @ n z
+
[hotword_stop_music]s t A p m j u z @ k
:
[hotword_stop_my_bike_ride]s t A p m aI b aI k r\ aI d
,
[hotword_stop_my_run]s t A p m aI r\ V n
5
[hotword_stop_recording]s t A p r\ @ k O r\ d @ N
H
[hotword_stop_the_timer]s t A p D V t aI m @`s t A p D @ t aI m @`
$
[hotword_stop_this]s t A p D I s
:
[hotword_take_a_note]t eI k @ n oU tt eI k eI n oU t
O
[hotword_take_a_note_disambig]t eI k @ n oU t w I Tt eI k eI n oU t w I T
G
[hotword_take_a_picture]t eI k @ p I k tS @`t eI k eI p I k tS @`
\
![hotword_take_a_picture_disambig]t eI k @ p I k tS @` w I Tt eI k eI p I k tS @` w I T
/
[hotword_teach_me_about]t i tS m i @ b aU t
>
![hotword_teach_me_about_disambig]t i tS m i @ b aU t w I T
A
[hotword_tell_a_story]t E l @ s t O r\ it E l eI s t O r\ i
V
[hotword_tell_a_story_disambig]t E l @ s t O r\ i w I Tt E l eI s t O r\ i w I T
^
![hotword_tell_a_story_open_ended]t E l @ s t O r\ i @ b aU tt E l eI s t O r\ i @ b aU t
9
[hotword_track_this_package]t r\ { k D I s p { k @ dZ
#
[hotword_transit]t r\ { n z @ t
3
[hotword_translate_this]t r\ { n z l eI t D I s
B
![hotword_translate_this_disambig]t r\ { n z l eI t D I s w I T
,
[hotword_try_this_out]t r\ aI D I s aU t
>
[hotword_tune_an_instrument]t u n { n I n s t r\ @ m @ n t
M
%[hotword_tune_an_instrument_disambig]$t u n { n I n s t r\ @ m @ n t w I T
a
![hotword_turn_off_the_flashlight]t @` n O f D V f l { S l aI tt @` n O f D @ f l { S l aI t
`
 [hotword_turn_the_flashlight_on]t @` n A n D V f l { S l aI tt @` n A n D @ f l { S l aI t
u
)[hotword_turn_the_flashlight_on_disambig]#t @` n A n D V f l { S l aI t w I T#t @` n A n D @ f l { S l aI t w I T
P
[hotword_turn_the_sound_off]t @` n D V s aU n d O ft @` n D @ s aU n d O f
O
[hotword_turn_the_sound_on]t @` n D V s aU n d A nt @` n D @ s aU n d A n
+
[hotword_turn_this_off]t @` n D I s O f
*
[hotword_turn_this_on]t @` n D I s A n

[hotword_undo]V n d u
?
[hotword_undo_my_last_action]V n d u m aI l { s t { k S @ n
P
[hotword_unstar_message]j u E n s t A r\ m E s @ dZV n s t A r\ m E s @ dZ
A
[hotword_use_a_filter]j u z @ f I l t @`j u z eI f I l t @`
V
[hotword_use_a_filter_disambig]j u z @ f I l t @` w I Tj u z eI f I l t @` w I T
1
[hotword_view_licenses]v j u l aI s @ n s @ z
,
[hotword_view_website]v j u w E b s aI t

[hotword_walking]	w O k @ N
/
[hotword_watch_my_swing]w A tS m aI s w I N
>
![hotword_watch_my_swing_disambig]w A tS m aI s w I N w I T